Eleven_Labs_RAG_Agent.json
{
  "name": "Eleven Labs RAG Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testing",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        680
      ],
      "id": "af7ea6aa-b58b-42c3-8c61-d25e5c80d9fd",
      "name": "Webhook",
      "webhookId": "a125aa06-3bdf-49d6-a45c-ca6c3faafaef"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        680
      ],
      "id": "61570c10-244f-4fbe-ba48-2c8ea0a21080",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "417b31b2-f99a-404a-8414-e9271446493b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        360,
        920
      ],
      "credentials": {
        "openAiApi": {
          "id": "fAk2FH61HSfpgzR8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "38c25048-4d34-4490-801c-06cb23308eab",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1020,
        1140
      ],
      "credentials": {
        "openAiApi": {
          "id": "fAk2FH61HSfpgzR8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "60539d71-1d84-4dac-b16b-263099f031b9",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1720,
        1000
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "106e32d5-5cd1-4dbe-892a-7eef9d69686c",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1600,
        980
      ],
      "credentials": {
        "openAiApi": {
          "id": "fAk2FH61HSfpgzR8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions."
      },
      "id": "11c3f7a3-5fb3-4c4f-899a-04a1374911b5",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        860,
        880
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "21a413b0-2d0d-4ab3-b641-7554e2f3f54d",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1400,
        1020
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1V9KxQPcr3EK1PJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK",
          "mode": "list",
          "cachedResultName": "Note des Réunions",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "6e24b578-2083-447b-bcdd-309964b0414b",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        800
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1V9KxQPcr3EK1PJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK",
          "mode": "list",
          "cachedResultName": "Note des Réunions",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "4a64da5d-0eff-450e-8eeb-b1916c7fced4",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        660
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1V9KxQPcr3EK1PJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "5a0171c6-520d-4141-9a16-f062e6d08737",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1400,
        1180
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "cb126ac4-e79d-4844-a694-483a2db4a407",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        860,
        1200
      ],
      "credentials": {
        "openAiApi": {
          "id": "fAk2FH61HSfpgzR8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8ec16f51-b6f9-42f3-a454-5739f5e9307c",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1620,
        1160
      ]
    },
    {
      "parameters": {
        "tableId": "documents"
      },
      "id": "361f5e02-cfe9-4575-824c-7e76787a6243",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1400,
        860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vgaJyBbi6gBA2PM2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0f93254d-2830-4d45-840c-4cf1fecd8c94",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        660
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.information }} id de la session : {{ $json.id['cf-connecting-ip'] }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself.\n\nYou use user_documents to get data."
        }
      },
      "id": "d1f4d5bc-3413-44e4-8fc9-906d6b98297d",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        580,
        680
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "53128689-f09b-4128-9906-3dcb85422f45",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        800,
        1040
      ],
      "credentials": {
        "supabaseApi": {
          "id": "vgaJyBbi6gBA2PM2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "23ce4b22-e241-421d-8d4e-fc63ee9a6f09",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1600,
        680
      ],
      "credentials": {
        "supabaseApi": {
          "id": "vgaJyBbi6gBA2PM2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "quentingavila@gmail.com",
          "mode": "list",
          "cachedResultName": "quentingavila@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        700,
        920
      ],
      "id": "e4d76591-5812-4485-97d7-0d4c8b12944a",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zaJrKTO5t2sl3K2a",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "869579ee-0387-44ed-9645-62959e09a6da",
              "name": "body.information",
              "value": "={{ $json.body.information }}",
              "type": "string"
            },
            {
              "id": "e1c9bc28-3064-4577-9800-1d1d96872b8f",
              "name": "id['cf-connecting-ip']",
              "value": "={{ $json.headers['cf-connecting-ip'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        680
      ],
      "id": "16e0b2b6-4454-4dc4-91f9-28f5104ae9b8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id['cf-connecting-ip'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        540,
        900
      ],
      "id": "ae05b562-8ac0-42de-b893-804dffb75448",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "20wgG04QzckfJSpB",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae05d487-fd2b-4920-b93e-0b6f062a04b2",
  "meta": {
    "instanceId": "af1987ed0d10730a8b41a2bd922cb242750230665289a7857ae759963b7dd4f1"
  },
  "id": "LwvpS7tJffqZqY8W",
  "tags": []
}