rag_local.json
{
  "name": "Présentation Youtube",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1ced1f6e-564c-45f6-af30-7b832b9c64ce",
      "name": "When chat message received",
      "webhookId": "10e16016-5916-4886-a0a4-226f8ad8b6aa"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "c56102a6-36ff-49d2-9994-02b8e09046ef",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "name": "compagny_database"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        400,
        200
      ],
      "id": "fc004e6c-621c-46a4-a06a-37323d610a87",
      "name": "Vector Store Tool"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "texte_loi_français",
          "mode": "list",
          "cachedResultName": "texte_loi_français"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        360,
        360
      ],
      "id": "fc681694-c54d-4ea6-b372-66ae8310e3d8",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        660,
        360
      ],
      "id": "65f03345-533e-480a-be0c-15641003710b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "elBaXgDSHvjLNs00",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        420,
        520
      ],
      "id": "0a559ea0-33d7-4762-82d1-c6a6320250c5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "elBaXgDSHvjLNs00",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        120,
        240
      ],
      "id": "96f9a51c-7387-4def-8cf2-f9d96203df4a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "elBaXgDSHvjLNs00",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuJBHWCXCaoDwXa",
          "mode": "list",
          "cachedResultName": "Log Tracking",
          "cachedResultUrl": "https://airtable.com/appuJBHWCXCaoDwXa"
        },
        "table": {
          "__rl": true,
          "value": "tbl4WBlGUD4hdAASn",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appuJBHWCXCaoDwXa/tbl4WBlGUD4hdAASn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Output": "={{ $json.output }}",
            "agent": "=Local RAG",
            "Time": "={{ $now }}",
            "Log": "={{ $json[\"output\"] ? \"[]\" : ($json[\"message\"] ? \"error\" : \"unknown error\") }}",
            "LLM Utilisé": "gpt 4o",
            "Input": "={{ $('When chat message received').item.json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "recordiD",
              "displayName": "recordiD",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LLM Utilisé",
              "displayName": "LLM Utilisé",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prompt de l'Agent",
              "displayName": "Prompt de l'Agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mémoire (postgres)",
              "displayName": "Mémoire (postgres)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Note/10 Input -> Output.",
              "displayName": "Note/10 Input -> Output.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Log",
              "displayName": "Log",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        600,
        0
      ],
      "id": "725c6b03-3e5d-46db-bf84-22bd6466498a",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "Piqz0AqtRJKvr2b5",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        900,
        0
      ],
      "id": "63198f16-f632-4398-bd3b-be4791c544d8",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Quentin-aq",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "actual-backend-app",
          "mode": "list",
          "cachedResultName": "actual-backend-app",
          "cachedResultUrl": "https://github.com/Quentin-aq/actual-backend-app"
        },
        "filePath": "Fra14562-1.pdf",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "id": "6f7541f5-f40c-492a-82d6-2afdb57e3857",
      "name": "GitHub",
      "credentials": {
        "githubApi": {
          "id": "gPd5Z2J3ZYfevera",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        900,
        160
      ],
      "id": "4daa0383-efb8-4574-9c9f-be42e82084f1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1100,
        160
      ],
      "id": "55f067a8-0ad2-410d-9bc6-d23251afb011",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "texte_loi_français",
          "mode": "list",
          "cachedResultName": "texte_loi_français"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1320,
        160
      ],
      "id": "570aac6a-0c44-4a75-9850-498dc784dad9",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1160,
        340
      ],
      "id": "ef00b790-cf16-4245-8def-629cc486ce14",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "elBaXgDSHvjLNs00",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1340,
        340
      ],
      "id": "59ce9bfc-d978-4b26-9069-ff6880a2743f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "\"\\n\\n\"",
        "chunkOverlap": 200
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1400,
        500
      ],
      "id": "0799d085-ebb4-4c49-ab11-870232c60706",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        240
      ],
      "id": "ed65a693-c15c-4552-872e-bf137a98b530",
      "name": "Window Buffer Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d8befc0-7f40-402a-b575-aae3e3d4ad8e",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "OM1NU1mZGFrYiH4E",
  "tags": []
}